$yellow:#fbff23;
$green: #fbff23;
$red: #f9fad6;
$black:#0f0b0b;

@mixin margenes($top, $bottom){
	margin-top:$top;
	margin-bottom:$bottom;
}

@mixin padding($top, $bottom, $left, $right){
	padding-top:$top;
	padding-bottom:$bottom;
	padding-left:$left;
	padding-right:$right;
}
.jumbotron{
	background-color:$green;
	color:$black;
	@include margenes(50px, 0px);
	

}

.tab-content{
	@include padding(10px, 0px, 0px, 0px);
}

footer{
	@include padding(10px, 0px, 0px, 10px);
	background-color:$yellow;
	@include margenes(10px, 0px);

	
}

.card-hotel{
	flex:1 200px;
	@include margenes(10px, 0px) ;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	background-color:$red;
}
h4{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	font-size:15px;
	
}

.btn-reserva{
	width:100%;
	border-radius:0;
	
	
}


.footer-adress-icon{
	@include padding(0px, 0px, 0px, 10px);
	
	
}
