@yellow: #fffa19;
@green: #68ed47;
@red: #e73636;
@black:#0f0b0b;

.margenes(@top:0px, @bottom:0px){
	margin-top:@top;
	margin-bottom:@bottom;
}
.padding(@top:0px, @bottom:0px, @left:0px, @right){
	padding-top:@top;
	padding-bottom:@bottom;
	padding-left:@left;
	padding-right:@right;
}

.jumbotron {
  background-color: @yellow;
  color: #0f0b0b;
  .margenes(50px, 0px);
 
 }

.tab-content {
  .padding(10px, 0px, 0px, 0px);
 }

footer {
  .padding(10px, 0px, 0px, 10px);
  background-color: @red;
   .margenes(10px, 0px); }

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 0px);
  font-family: Verdana, Geneva, sans-serif;
  font-size: 11px;
  background-color:@green;
  
 }

h4 {
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  font-size: 15px; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.footer-adress-icon {

  .padding(0px, 0px, 0px, 10px);
 
 }